*{
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.left{
    width: 35%;
    min-width: 400px;
    height: 100%;
    margin: 0;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
.logo{
    color: white;
    text-align: center;
    background-color: rgba(40, 40, 44, 0.5);
    width: auto;
    height: 50px;
    margin-top: 30%;
    
}
.credit{
    color: black;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
    margin-top: 55%;
}
.right{
    display:flex;
    flex-direction: column;
    
    width:65%;
    height:100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 40%;
    padding: 20px;
    margin-top: 10%;
}
.form .name,
.form .contact,
.form .pwd{
    display: flex;
    padding: 10px 0 10px 0;
    height: 60px;
    width:100%;
}
.input-block{
    display: block;
}
.header{
    text-align: center;
    margin-top: 10%;
}

